* {
    padding: 0;
    margin: 0;
    font-family: inter;
}

body {
    background-color: #764df0;
}

main {
    margin: auto;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282828;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0C0032;
}

.flex-box {
    width: 200px;
}

#about-and-headshot {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#my-name {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}