* {
    padding: 0;
    margin: 0;
    font-family: inter;
}

body {
    background-color: #cccbca;
}

main {
    margin: auto;
    padding: 0;
}

img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262121;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #303c4c;
}

.flex-box {
    width: 200px;
}

#about-and-headshot {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 30%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about-me {
    text-align: center;
}

#my-name {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#education {
    text-align: center;
    border-top: 3px #262121 solid;
    margin-top: 35px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}